.navBar {
  background: #ccc;
  display: flex;
  justify-content: space-between;
}
.navLogoButton {
  border: transparent;
  background-color: transparent;
  font-family: sans-serif;
  font-size: 2vh;
}
.navBarItems {
  display: inline;
  justify-content: space-between;

}
.navItems {
  display: inline;
  padding-right: 5vw;
  justify-content: center;

}
.navItems a {
  font-family: sans-serif;
  font-size: 2vh;
  justify-content: center;
  text-decoration: transparent;
  color: black;
}
.heading {
  display: flex;
  justify-content: space-between;
}
.monthAndYear {
  font-family: sans-serif;
  font-size: 9vh;
  justify-content: center;
  text-decoration: transparent;
  color: black;
}